.box-row{
  display: flex;
  text-align: center;
  flex-direction: row;
}
.top_bar{
  padding-left: 40px;
  padding-right: 40px;
  background-color: #0f0f0f;
  height: 60px;
}
.top_bar_buttons{
  font-size: 1.3rem;
  width: 100px;
  border: none;
  border-radius: 5px;
}
.logo{
  flex: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo_img{
  width:50px;
  height: 50px;
}
.searching_panel{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searching_panel_input{
  width: 90%;
  height: 50%;
}
.menu{
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
#menu_button{
  margin-left: 10px;
}
#sign_in{

}
#sign_up{
  margin-left: 10px;
}
#menu_button:hover{
  cursor: pointer;
  color: forestgreen;
}
#menu_button:active{
  color: limegreen;
}
#sign_up:hover{
  cursor: pointer;
  color: forestgreen;
}
#sign_up:active{
  color: limegreen;
}
#sign_in:hover{
  cursor: pointer;
  color: forestgreen;
}
#sign_in:active{
  color: limegreen;
}


