<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<div class = "top_bar box-row">
  <div class = "logo">
    <a [routerLink] = "['']"><img src = "../../assets/logo_right.svg" alt = "logo" class = "logo_img" ></a>
  </div>
  <div class = "searching_panel">
    <input [(ngModel)] = "searchText"
           type = "text"
           placeholder = "Cappuccino..."
           class = "searching_panel_input input_change">
    <img (click)="Search()" class = "search_button" src = "assets/icons/find.svg">
  </div>
  <div class = "menu box-row">
    <ng-container *ngIf="isLogged">
      <div class = "box-row">
        <div class = "box-row LogOut" (click)="logout()">
          <img id = "sign_in" class = "top_bar_buttons push" src = "assets/icons/logout.svg">
          <span class = "LogService">Sign Out</span>
        </div>
        <span style="font-size:30px;cursor:pointer" (click)="openNav()" id="navBar">&#9776;</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLogged">
      <div class = "box-row">
        <a [routerLink] = "['/login']" class = "menu_tool box-row">
          <img id = "sign_in" class = "top_bar_buttons push" src = "assets/icons/login.svg">
          <span class = "LogService">Sign In</span>
        </a>
        <span style="font-size:30px;cursor:pointer" (click)="openNav()" id="navBar">&#9776;</span>
      </div>
    </ng-container>
  </div>
</div>


