/* You can add global styles to this file, and also import other style files */
.input_change{

}
body{
  font-family: "Segoe UI", sans-serif;
  background-color: #fbfbfb;
}
.box-column{
  display: flex;
  flex-direction: column;
}
.box-row{
  display: flex;
  flex-direction: row;
}
