#category_select_box{
  position: absolute;
  width: 200px;
  justify-content: start;
  align-items: center;
  border: 0.1rem solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 7px 0 darkgray;
  margin-left: 10px;
}
#category_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 150px;
  margin-top: 20px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
}
.select{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  height: 30px;
  border-color: cornflowerblue;
  border-radius: 8px;

}
.option{

}
.hidden{
  display: none;
}
.visible{
  display: block;
}
